body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.xsNum {
  height: 50px;
  width: 50px;
}

.pdfNum {
  height: 60px;
  width: 60px;
}

.smallNum {
  height: 100px;
  width: 100px;
}

.medNum {
  height: 150px;
  width: 150px;
}

.largeNum {
  height: 200px;
  width: 200px;
}

.xlNum {
  height: 250px;
  width: 250px;
}

.xsOp {
  height: 106px;
  width: 50px;
}

.pdfOp {
  height: 126px;
  width: 60px;
}

.smallOp {
  height: 206px;
  width: 100px;
}

.medOp {
  height: 306px;
  width: 150px;
}

.largeOp {
  height: 406px;
  width: 200px;
}

.xlOp {
  height: 506px;
  width: 250px;
}